/unittest/*
!/unittest/Makefile

/smem/*
!/smem/Makefile

/cache/*
!/cache/Makefile

/vortex/*
!/vortex/Makefile

/pipeline/*
!/pipeline/Makefile

/core/*
!/core/Makefile

/top/*
!/top/Makefile

/top-gfx/*
!/top-gfx/Makefile

/test/*
!/test/Makefile

/fpu/*
!/fpu/Makefile
