/unittest/*
!/unittest/Makefile

/smem/*
!/smem/Makefile

/cache/*
!/cache/Makefile

/vortex/*
!/vortex/Makefile

/pipeline/*
!/pipeline/Makefile

/core/*
!/core/Makefile

/top/*
!/top/Makefile

/top-gfx/*
!/top-gfx/Makefile

/test/*
!/test/Makefile

/fpu_unit/*
!/fpu_unit/Makefile

/tex_unit/*
!/tex_unit/Makefile

/rop_unit/*
!/rop_unit/Makefile

/raster_unit/*
!/raster_unit/Makefile

/vortex-gfx/*
!/vortex-gfx/Makefile