/unittest/*
!/unittest/Makefile

/smem/*
!/smem/Makefile

/cache/*
!/cache/Makefile

/fpu_core/*
!/fpu_core/Makefile

/vortex/*
!/vortex/Makefile

/pipeline/*
!/pipeline/Makefile

/core/*
!/core/Makefile

/top1/*
!/top1/Makefile

/top2/*
!/top2/Makefile

/top4/*
!/top4/Makefile

/top8/*
!/top8/Makefile

/top16/*
!/top16/Makefile

/top32/*
!/top32/Makefile

/top64/*
!/top64/Makefile