/unittest/*
!/unittest/Makefile

/cache/*
!/cache/Makefile

/top/*
!/top/Makefile

/vortex/*
!/vortex/Makefile

/pipeline/*
!/pipeline/Makefile

/core/*
!/core/Makefile

/core8/*
!/core8/Makefile

/top1/*
!/top1/Makefile

/top2/*
!/top2/Makefile

/top8/*
!/top8/Makefile

/top16/*
!/top16/Makefile

/top32/*
!/top32/Makefile