[submodule "hw/rtl/fp_cores/fpu_div_sqrt_mvp"]
	path = hw/rtl/fp_cores/fpu_div_sqrt_mvp
	url = https://github.com/pulp-platform/fpu_div_sqrt_mvp.git
[submodule "hw/rtl/fp_cores/fpnew"]
	path = hw/rtl/fp_cores/fpnew
	url = https://github.com/pulp-platform/fpnew.git
