*.o
src/harptool
src/lex.yy.cc
src/libharplib.a
src/libharplib.so
*.bin
src/test/2thread.4b.d
src/test/2thread.4b.out
src/test/2thread.d
src/test/2thread.out
src/test/bubble.4b.d
src/test/bubble.4b.out
src/test/bubble.d
src/test/bubble.out
src/test/diverge.d
src/test/diverge.out
src/test/dotprod.4b.d
src/test/dotprod.4b.out
src/test/dotprod.d
src/test/dotprod.out
src/test/lfsr.4b.out
src/test/lfsr.d
src/test/lfsr.out
src/test/matmul-mt.d
src/test/matmul-mt.out
src/test/matmul.4b.d
src/test/matmul.4b.out
src/test/matmul.d
src/test/matmul.out
src/test/sieve.4b.d
src/test/sieve.4b.out
src/test/sieve.d
src/test/sieve.out
src/test/simple.4b.d
src/test/simple.4b.out
src/test/simple.d
src/test/simple.out
util/bin2mif

