language: cpp
dist: bionic
os: linux
compiler: gcc
addons:
    apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - build-essential
        - valgrind
        - verilator
        - yosys

install:
  # TOOLCHAIN
  - ci/toolchain_install.sh -all
  - export RISCV_TOOLCHAIN_PATH=/opt/riscv-gnu-toolchain
  - export VERILATOR_ROOT=/opt/verilator
  - export PATH=$VERILATOR_ROOT/bin:$PATH 
  - make -s

script:     
  - ./ci/test_runtime.sh
  - ./ci/test_riscv_isa.sh  
  - ./ci/test_opencl.sh
  - ./ci/test_driver.sh  
  - ./ci/travis_run.py ./ci/blackbox.sh --driver=vlsim --cores=1 --perf
  - ./ci/travis_run.py ./ci/blackbox.sh --driver=vlsim --debug 
  - ./ci/travis_run.py ./ci/blackbox.sh --driver=vlsim --cores=1 --scope --app=demo --args="-n1"
  - ./ci/travis_run.py ./ci/blackbox.sh --driver=rtlsim --cores=2 --clusters=2
  - ./ci/travis_run.py ./ci/blackbox.sh --driver=rtlsim --cores=4 --l2cache
  - ./ci/travis_run.py ./ci/blackbox.sh --driver=rtlsim --cores=2 --clusters=2 --l2cache --l3cache
  
after_success:
  # Gather code coverage
  - lcov --directory . --capture --output-file coverage.info # capture trace  
  - lcov --list coverage.info # trace report
  # Upload coverage report
  - bash <(curl -s https://codecov.io/bash)
