adapter driver remote_bitbang
remote_bitbang_port 9823
remote_bitbang_host localhost

# Target setup
transport select jtag
adapter speed 100

set _CHIPNAME vortex
jtag newtap $_CHIPNAME cpu -irlen 5

# --- BEGIN Single-Hart Configuration ---

# Create a single target (Hart 0)
target create $_CHIPNAME.riscv0 riscv -chain-position $_CHIPNAME.cpu -coreid 0 -rtos hwthread

# Configure the RISC-V specific settings.
riscv set_reset_timeout_sec 2
riscv set_command_timeout_sec 2

# --- END Single-Hart Configuration ---

init
halt